body {
    margin: 0;
    font-family: sans-serif;
    color: #333;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: #00f;
    transition: color, .5s;
}

a:hover {
    color: #66f;
}

.front-avatar {
    width: 20em;
    border-radius: 50%;
    animation: fade-in-down 1s;
}

.intro-subpage {
    text-align: center;
    padding: 10em 0 5em 0;
    background-color: #f5f5f5;
}

.socials {
    list-style: none;
    margin: 0;
    padding: 3em 0 0 0;
}

.socials li {
    display: inline-block;
    margin: 0 0.5em;
}

.socials li a {
    display: block;
    padding: 1em;
    border-radius: 50%;
    background-color: #f5f5f5;
    transition: background-color, .5s;
}

.socials li a:hover {
    background-color: #dcdcdc;
}

.socials li img {
    vertical-align: middle;
    width: 3em;
}

.projects-subpage h2 {
    text-align: center;
}

.projects {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.projects > li {
    flex-basis: 100%;
    flex-grow: 1;
    background-color: #f5f5f5;
    padding: 1em 2em;
    margin: 1em 1em;
    display: inline-block;
}

.projects > li h3 {
    text-align: center;
}

.projects > li h3 a {
    color: #333;
}

.projects > li a.project-image {
    height: 30em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects > li a.project-image img {
    max-width: 90%;
    max-height: 90%;
}

.projects .tags {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 1em 0;
    padding: 0;
    height: 5em;
}

.projects .tags li {
    display: inline-block;
    background-color: #dcdcdc;
    border-radius: 1em;
    padding: 0.5em;
    margin: 0.1em 1em;
}

.projects p {
    text-align: left;
}

.reading-column {
    width: 95%;
    margin: 1em auto;
}

.date-posted {
    color: #777;
}

code {
    color: #839496;
    background-color: #002b36;
    border-radius: 6px;
    padding: 0.2em;
}

pre code {
    display: block;
    overflow-x: auto;
    padding: 1em 2em;
}

@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translate3d(0, -10%, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@media screen and (min-width:720px) {
    .projects {
        flex-direction: row;
    }

    .reading-column {
        width: 60%;
    }
}
