body {
  font-family:sans-serif;
}

#box {
  background-color:red;
  width:100px;
  height:100px;
  display:none;
  position:relative;
}

#boxarea {
  background-color:#F3F781;
  width:405px; /* Needs to be 300px (random max) + 100px (box width) +5px extra room */
  height:405px; /* Same as above */
  border-radius:5px;
}

.bold {
  font-weight:bold;
} 
