// mixins

@mixin nice-contain {
    width: 95%;
    margin: 0 auto;
    
    @media screen and (min-width: $mobile-px) {
        width: 80%;
    }
}

@mixin transition($args...) {
    -webkit-transition: $args;
    transition: $args;
}

@mixin animation($animname, $duration, $delay) {
    animation-name: $animname;
    animation-duration: $duration;
    animation-fill-mode: both;
    animation-delay: $delay;
}
