/* skoneczko.com stylesheet */

@import "vars";

@import "mixins";

@import "animations";

// style

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: $main-font-color;
    line-height: 1.5em;
}

header {
    @include animation(fadeindown, 1s, 0s);
    background-color: $main-toolbar-color;
    
    h1 {
        margin: 0;
        float: left;
        line-height: ($toolbar-height/2); // if we use em, h1 goes too far, so we need to half it
    }
}

.header-container {
    @extend .main-container; // .main-container defined below
    position: relative;
}

nav {
    height: $toolbar-height;
    position: relative;
    
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: $toolbar-height;

        li {
            float: right;
            background-color: $main-toolbar-color;
            
            a {
                color: $main-font-color;
                display: inline-block;
                padding: 0 1em;
                transition: background-color 0.5s, color 0.5s;
                
                &:hover, &:focus, &:active {
                    color: $navbar-hover-text-color;
                    background-color: darken($main-toolbar-color, 10%);
                }
                
            }
        }
    }
    
    .desktop-ul {
        display: none;
        position: absolute;
        right: 0;
        @media screen and (min-width: $mobile-px) {
            display: block;
            top: 0;
        }
    }
}

.mobile-nav {
    display: block;
    @media screen and (min-width: $mobile-px) {
        display: none;
    }
    
    ul {
        margin: 0 auto;
        
        li {
            float: left;
            display: inline-block;
            width: 25%;
            
            a {
                width: 100%;
                padding: 0;
                text-align: center;
            }
        }
    }
}

.surname-finish {
    display: none;
    
    @media screen and (min-width: $mobile-px) {
        display: inline;
    }
}

.main-container {
    width: 95%;
    margin: 0 auto;
    
    @media screen and (min-width: $mobile-px) {
        width: 80%;
    }
}

.fancy-container {
    font-size: 2em;
    line-height: 1.5em; // ensure that the larger text does not overlap
    text-align: center;

    ul {
        padding: 0;
    }

    h2 {
        line-height: 2em;
        padding: 2em 0;
    }
}

img.left {
    float: left;
    padding-right: 1.5em;
}

.float-break {
    clear: both;
}

.date-posted {
    color: $blog-date-color;
}

a {
    color: blue;
    text-decoration: none;
    transition: color, 0.5s;
    
    &:hover {
        color: lighten(blue, 20%);
    }
}

.warn {
    background-color: lighten(red, 10%);
    padding: 2px;
}

.welcome-msg {
    @include animation(fadein, 1s, 1s);
}

code {
    background-color: #333;
    color: white;
    border-radius: 6px;
    padding: 3px;
}

pre code { // for bigger code "blocks"
    display: block; // so that the background-color works nicely
    padding: 10px;
}

.social-buttons {
    list-style: none;
    padding-left: 0.5em;
    
    li {
        float: left;
        margin: 0 0 1em 1em;
    }
}
